{
  "HomepageLocation": "{{ evocloud_home_page }}",
  "HomepageIsNewTabPage": false,
  "ShowHomeButton": true,
  "RestoreOnStartup": 1,
  "RestoreOnStartupURLs": ["{{ evocloud_home_page }}"],
  "NewTabPageLocation": "{{ evocloud_home_page }}"
}