###################################################
#DEPLOYING EXTERNAL SECRETS OPERATOR
###################################################
#Reference:

---
# https://kubernetes-schemas.pages.dev/fluxcd.controlplane.io/resourceset_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: external-secrets
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "1h"
    fluxcd.controlplane.io/reconcileTimeout: "20m"
spec:
  dependsOn:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: FluxInstance
      name: flux
      namespace: flux-system
      ready: true
    # Works well with Hashicorp Vault Secret Store
  resources:
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: external-secrets
        namespace: flux-system
      spec:
        interval: 12h
        url: oci://ghcr.io/external-secrets/charts/external-secrets
        layerSelector:
          mediaType: "application/vnd.cncf.helm.chart.content.v1.tar+gzip"
          operation: copy
        ref:
          semver: "2.7.x"
        verify:
          provider: cosign
          matchOIDCIdentity:
            - issuer: ^https://token.actions.githubusercontent.com$
              subject: ^https://github.com/external-secrets/external-secrets.*$
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: external-secrets
        namespace: kube-system
      spec:
        #serviceAccountName: flux-operator
        chartRef:
          kind: OCIRepository
          name: external-secrets
          namespace: flux-system
        interval: 30m
        timeout: 15m0s
        install:
          remediation:
            retries: 3
        upgrade:
          remediation:
            retries: 2
        driftDetection:
          mode: enabled
        values:
          image:
            repository: ghcr.io/external-secrets/external-secrets
          installCRDs: true
          certController:
            image:
              repository: ghcr.io/external-secrets/external-secrets
          webhook:
            image:
              repository: ghcr.io/external-secrets/external-secrets
          grafanaDashboard:
            enabled: true