###################################################
#DEPLOYING SECRETS STORE CSI DRIVER
###################################################
#Reference: https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html
#           https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/charts/secrets-store-csi-driver/values.yaml

---
# https://kubernetes-schemas.pages.dev/fluxcd.controlplane.io/resourceset_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: secrets-store-csi-driver
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "1h"
    fluxcd.controlplane.io/reconcileTimeout: "20m"
spec:
  dependsOn:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: FluxInstance
      name: flux
      namespace: flux-system
      ready: true
    # Works well with Hashicorp Vault Secret Store
  resources:
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: secrets-store-csi-driver
        namespace: flux-system
      spec:
        interval: 12h
        url: oci://ghcr.io/evocloud-dev/charts/secrets-store-csi-driver
        layerSelector:
          mediaType: "application/vnd.cncf.helm.chart.content.v1.tar+gzip"
          operation: copy
        ref:
          semver: "1.6.x"
        #verify:
        #  provider: cosign
        #  matchOIDCIdentity:
        #    - issuer: ^https://token.actions.githubusercontent.com$
        #      subject: ^https://github.com/external-secrets/external-secrets.*$
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: secrets-store-csi-driver
        namespace: kube-system
      spec:
        #serviceAccountName: flux-operator
        chartRef:
          kind: OCIRepository
          name: secrets-store-csi-driver
          namespace: flux-system
        interval: 30m
        timeout: 15m0s
        install:
          remediation:
            retries: 3
        upgrade:
          remediation:
            retries: 2
        driftDetection:
          mode: enabled
        values:
          enableSecretRotation: true
          syncSecret:
            enabled: true

---
# Now that the Secrets Store CSI Driver has been deployed, we need an External Secret Provider
# https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html#install-external-secret-providers
###################################################
#DEPLOYING Hashicorp Vault Provider
###################################################
# Install External Secret Providers
# https://kubernetes-schemas.pages.dev/fluxcd.controlplane.io/resourceset_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: vault-csi-provider
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "1h"
    fluxcd.controlplane.io/reconcileTimeout: "20m"
spec:
  dependsOn:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: FluxInstance
      name: flux
      namespace: flux-system
      ready: true
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: secrets-store-csi-driver
      namespace: kube-system
      ready: true
  resources:
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: vault-csi-provider
        namespace: flux-system
      spec:
        interval: 12h
        url: oci://ghcr.io/evocloud-dev/charts/vault
        layerSelector:
          mediaType: "application/vnd.cncf.helm.chart.content.v1.tar+gzip"
          operation: copy
        ref:
          semver: "0.34.x"
        #verify:
        #  provider: cosign
        #  matchOIDCIdentity:
        #    - issuer: ^https://token.actions.githubusercontent.com$
        #      subject: ^https://github.com/external-secrets/external-secrets.*$
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: vault-csi-provider
        namespace: kube-system
      spec:
        #serviceAccountName: flux-operator
        chartRef:
          kind: OCIRepository
          name: vault-csi-provider
          namespace: flux-system
        interval: 30m
        timeout: 15m0s
        install:
          remediation:
            retries: 3
        upgrade:
          remediation:
            retries: 2
        driftDetection:
          mode: enabled
        values:
          server:
            enabled: false
          injector:
            enabled: false
          csi:
            enabled: true