###################################################
#DEPLOYING KubeScape Vulnerability Scanner
###################################################
# https://github.com/kubescape/helm-charts/tree/main/charts/kubescape-operator

---
# https://kubernetes-schemas.pages.dev/fluxcd.controlplane.io/resourceset_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: kubescape
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "1h"
    fluxcd.controlplane.io/reconcileTimeout: "20m"
spec:
  dependsOn:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: FluxInstance
      name: flux
      namespace: flux-system
      ready: true
    # Add dependsOn storageClass
  resources:
    - apiVersion: v1
      kind: Namespace
      metadata:
        name: kubescape
        labels:
          pod-security.kubernetes.io/enforce: privileged #Talos default PodSecurity configuration prevents execution of priviledged pods.
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: HelmRepository
      metadata:
        name: kubescape-operator
        namespace: flux-system
      spec:
        interval: 12h
        url: https://kubescape.github.io/helm-charts
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: kubescape-operator
        namespace: kubescape
      spec:
        #serviceAccountName: flux-operator
        chart:
          spec:
            chart: kubescape-operator
            sourceRef:
              kind: HelmRepository
              name: kubescape-operator
              namespace: flux-system
            version: "1.40.*"
        interval: 30m
        timeout: 15m0s
        install:
          remediation:
            retries: 3
        upgrade:
          remediation:
            retries: 2
        driftDetection:
          mode: enabled
        values:
          clusterName: evo-cluster-mgr
          capabilities:
            continuousScan: disable