############################################
#DEPLOYING KYVERNO ADMISSION CONTROLLER
############################################

#Reference: https://kyverno.io/docs/installation/installation/

---
# https://kubernetes-schemas.pages.dev/fluxcd.controlplane.io/resourceset_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: kyverno
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "1h"
    fluxcd.controlplane.io/reconcileTimeout: "20m"
spec:
  dependsOn:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: FluxInstance
      name: flux
      namespace: flux-system
      ready: true
    #Requirement for storageclass
    #Soft Requirement for promstack
  resources:
    - apiVersion: v1
      kind: Namespace
      metadata:
        name: kyverno
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: OCIRepository
      metadata:
        name: kyverno-operator
        namespace: flux-system
      spec:
        interval: 12h
        url: oci://ghcr.io/kyverno/charts/kyverno
        layerSelector:
          mediaType: "application/vnd.cncf.helm.chart.content.v1.tar+gzip"
          operation: copy
        ref:
          semver: "3.8.*"
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: kyverno-operator
        namespace: kyverno
      spec:
        #serviceAccountName: flux-operator
        chartRef:
          kind: OCIRepository
          name: kyverno-operator
          namespace: flux-system
        interval: 30m
        timeout: 15m0s
        install:
          remediation:
            retries: 3
        upgrade:
          remediation:
            retries: 2
        driftDetection:
          mode: enabled
        values:
          admissionController:
            replicas: 3
            image:
              tag: "v1.18.1" #Kyverno application version
          backgroundController:
            replicas: 2
            image:
              tag: "v1.18.1" #Kyverno application version
          cleanupController:
            replicas: 2
            image:
              tag: "v1.18.1" #Kyverno application version
          reportsController:
            replicas: 2
            image:
              tag: "v1.18.1" #Kyverno application version
          reportsServer:
            enabled: true
            image:
              tag: "v1.18.1" #Kyverno application version
          crds:
            install: true
            reportsServer:
              enabled: true
          test:
            image:
              tag: "v1.18.1" #Kyverno application version
          grafana:
            # -- Enable grafana dashboard creation if set to true.
            enabled: false
          prometheusRule:
            # -- Enable prometheus rules creation if set to true.
            enabled: false
