---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "cilium-ip-pool-01"
spec:
  blocks:
    #- cidr: "{{ admin_cilium_lbipam_cidr }}"
    - start: "{{ admin_cilium_lbipam_cidr }}"
      stop: "{{ admin_cilium_lbipam_cidr }}"