---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "cilium-ip-pool-01"
spec:
  blocks:
    - cidr: "{{ admin_cilium_lbipam_cidr }}"
    #- start: "10.10.20.100"
    #  stop: "10.10.20.150"